#mniHelp2 > .label{
    -fx-graphic: url("/img/help_outline.png");
}
#mniHelp2 .accelerator-text{
    -fx-graphic: none;
}
#mniReport> .label{
    -fx-graphic: url("/img/file.png");
}
#mniReport .accelerator-text{
    -fx-graphic: none;
}

#mniLogoutBtn> .label{
    -fx-graphic: url("/img/logout.png");
}
#mniLogoutBtn .accelerator-text{
    -fx-graphic: none;
}

#mniCreateAcc> .label{
    -fx-graphic: url("/img/user.png");
}
#mniCreateAcc .accelerator-text{
    -fx-graphic: none;
}

#mniBS> .label{
    -fx-graphic: url("/img/bih.png");
}
#mniBS .accelerator-text{
    -fx-graphic: none;
}

#mniEN> .label{
    -fx-graphic: url("/img/uk.png");
}
#mniEN .accelerator-text{
    -fx-graphic: none;
}

#searchBar {
    -fx-background-image:url("/img/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}